body{
    width: 100%;
    margin: 0;
    background-color: #460080;
}
.logo img{
    position: absolute;
    width: 15%;
    height: 15%;
    margin: 15px;
    margin-left: 5%;
}
.background{
    width: 100%;
    background: url(bg-desktop.svg);
    height: 700px;
}
.page img{
    width: 55%;
}
.page{
    position: absolute;
    top: 20%;
    margin: 15px;
    margin-left: 5%;
    display: flex;
}
.page-description{
    margin: 30px;
    margin-left: 25px;
}
.page h1{
    width: 70%;
    font-family: 'Calibri', sans-serif;
    font-size: 40px;
    color: #fff;
}
.page p{
    width: 88%;
    font-size: 18px;
    font-family: 'Calibri', sans-serif;
    color: #fff;
}
button{
    width: 35%;
    padding: 12px;
    border: none;
    border-radius: 40px;
    color: #460080;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background: #f8a6e4;
    color: #fff;
    transition: all 0.5s ease-in;
}